#primo{
    overflow: hidden;
    cursor: url("./img/torcia.png"),auto;
    background:black;
  }



.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: aquamarine;
  border: double;  
  /*background-image: url("./img/casa_quattro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}
.torch > img{
  width: 100%;
  height: auto;
}
.bg{
  filter: brightness(100%)
}

.torch{
  clip-path: circle(64px at 0 0);
}
.sfondo {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  	opacity: 0.0;
}
.corpo {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 60%;
    background-image:url(/img/pergamena3.png);
    background-repeat: no-repeat;
	background-size: cover;
	/*-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);*/
	transform: translate(-50%, -50%);
	cursor: url("./img/lente.png"),auto;
}

.chiudi {
	position: absolute;
	z-index: 9999;
	top: 65%;
	right: 42%;
	width: auto;
	height: auto;
	padding: 3vh 3vw;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2vw;
	font-weight: 100;
	line-height: 15px;
	color: #f7f7f7;
	background: red;
	cursor: pointer;

}

.box_piano{
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: aquamarine;
  border: double;
}
.piano > img{
		width: 100%;
		height: auto;
}
