body {
    overflow: hidden;
    cursor: url("./img/torcia.png"),auto;
    background-color: black;
  }
.bg{
  position: absolute;
  width: 1360px;
  height: 765px;
  border-color: aquamarine;
  border: double;  
  /*background-image: url("./img/casa_quattro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}
.torch > img{
  width:100%;
  height:auto;
}
.bg{
  filter: brightness(5%)
}

.torch{
  clip-path: circle(64px at 0 0);
}
