body{
    background-color: #343a40;
    background-image: url(./img/sfondoprova.jpg);
    background-attachment: fixed;
}

.row{
    border-color: green;
    border:double;
}
.col{
    border-color: green;
    border:double;
}


.container{
    border-color: #343a40;
}

.spaziatura{
    padding-top: 150px;
}

.coloreinverso{
    background-color: #343a40;
    color: white;
}

#form{
    border-radius: 10px;
    height: 50vh;
    width: 40vw;
    background-color: white;
    text-align: center;
    min-width: 300px;
    min-height: 370px;

}
#formlogin{
    border-radius: 10px;
    height: 40vh;
    width: 40vw;
    background-color: white;
    text-align: center;
    min-width: 400px;

}

input{
    width: 49%;
    padding-top: 8px;
    margin-top: 10px;
}

#titolo_registrati{
    color:#343a40;
    padding-top: 25px;
    padding-bottom: 25px;
}

#titolo_accedi{
    color:#343a40;
    padding-top: 25px;
    padding-bottom: 25px;
}

#reg{
    position: relative;
    bottom: -30px;
}

#cont_class{
    margin-top: 10vh;
    height: 80vh;
    border-radius: 10px;
    background: white;
    min-width: 350px;
}

.error{
    position: relative;
    bottom: -15px;
    color: red;
}

#class_title{
    color:#343a40;
    padding: 20px;
}

.acti{
    color: white;
    transition: width 1s;
}

.acti:hover {
    border-radius: 5px;
    background-color: #ffc107;
    font-size: 20px;
    color: #343a40 !important;
}

h1{
    position:static;
    padding-top: 250px;
    align-items: center;
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

h2{
    color: white;
}
h3{
    font-style: sans-serif;
    font-size: 25px;
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}
.nome{
    background-color: #ffc107;
    width: 80px !important;
    border-radius:5px;
    font-size: 20px;
    margin-right: 10px;
    padding:10px;
}

#log{
    margin-top: 20px;
}

.nomeutente{
    position:relative;
    top: 2px;
}

@media screen and (max-width: 768px) {
    .titolo{
        font-size:50px;
    }
}


@media screen and (min-width: 768px) {
    .titolo{
        font-size:75px;
    }
}

.home_index{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.navbar{
    position:sticky;
    top:0;
    z-index:1;
}

.fondo_nav{
    margin-left: auto;
    margin-right: auto;
}

#box_email {
    background-color: #333;
    position: fixed;
    bottom: -50px;
    width: 100%;
    display: block;
    transition: bottom 0.3s;
  }
  
  #box_email h3{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
    