.stanza_3{
	position: absolute;
	width: 100%;
	height: 100%;
	border-color: aquamarine;
	filter: brightness(100%);
}
.stanza_3 > img{
		width: 100%;
		height: auto;
}

.bg_3{
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: aquamarine;
    border: double;  
    filter: brightness(100%);
  }

.foto_mds{
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    width: 40%;
    top: 40%;
    z-index: 102;
}  

.foglio{
    height: 35%;
    width: 20%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 20%;
    z-index: 100;
    background: white;
    border-radius: 3px;

}

.campo_scrivibile{
    width: 70%;
    z-index: 101;
    margin-top: 10%;
}

.popup_macchina_da_scrivere{
    display: none;
    position: absolute;
    top:0;  
    height: 100vh;
    width:100vw;
}