body{
    background-color: #343a40;
}

.row{
    border-color: green;
    border:double;
}
.col{
    border-color: green;
    border:double;
}

.container{
    border:double;
    border-color: orange;
}

.spaziatura{
    padding-top: 150px;
}

#form{
    border-radius: 10px;
    height: 50vh;
    width: 40vw;
    background-color: white;
    text-align: center;
    min-width: 300px;
    min-height: 370px;

}
#formlogin{
    border-radius: 10px;
    height: 40vh;
    width: 40vw;
    background-color: white;
    text-align: center;
    min-width: 400px;

}

input{
    width: 49%;
    padding-top: 8px;
    margin-top: 10px;
}

#titolo_registrati{
    color:#343a40;
    padding-top: 25px;
    padding-bottom: 25px;
}

#titolo_accedi{
    color:#343a40;
    padding-top: 25px;
    padding-bottom: 25px;
}

#reg{
    position: relative;
    bottom: -30px;
}

#cont_class{
    margin-top: 10vh;
    height: 80vh;
    border-radius: 10px;
    background: white;
    min-width: 350px;
}

.error{
    position: relative;
    bottom: -15px;
    color: red;
}

#class_title{
    color:#343a40;
    padding: 20px;
}

h1{
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Charcoal, sans-serif;
    color: white;
}

h2{
    color: white;
}
h3{
    color: white;
}
h4{
    color: white;
}
h5{
    color: white;
}
h6{
    color: white;
}